<%- include('../partials/header'); -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('images/yag2.png')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>YAĞLI BOYA</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

    <!-- Main Content--> 
    <div class="container">
      <div class="row">
        <div class="col-lg-3  mx-auto">
          <img class="img-thumbnail" src="images/yag3.png" alt="Post Image">
        </div>
        <div class="col-lg-9  mx-auto">
          <div class="post-preview">
            <a href="post.html">
              <h2 class="post-title"> 
              </h2>    
              <h3 class="post-subtitle">
                Yağlı Boya Nedir?
              </h3>
            </a>
            <p class="post-meta">Posted by
              <a href="#">KuasArt</a>
              on April 18, 2020</p>
          </div>
          <hr>
         <!--Pager--> 
          <div class="clearfix">
            <a class="btn btn-basic float-right" href="#">Önceki Post &rarr;</a>
          </div>     
        </div>
      </div>
    </div>
    <hr>
<%- include('../partials/footer'); -%>