<%- include('partials/header'); -%>

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('images/home.png')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Hakkımda</h1>
            <span class="subheading">"Kelamın Tesiri Sanatın Kuvvetinden Olsa Gerek"</span>
          </div>
        </div>
      </div>
    </div>
  </header>


  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Merhabalar!</p>
        <p> Ben Rabia Güçlüer. Çukurova üniversitesi bilgisayar mühendisliği mezunuyum.</p>
        <p> Uzun bir süre olmamakla birlikte Full-stack developer olmak için çalışmaktayım.</p>
        <p> Bu site ise ilk denemem.</p>
      </div>
    </div>
  </div>

  <hr>


<%- include('partials/footer'); -%>
