<!DOCTYPE html>
<html lang="tr-TR">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>KuasArt</title>

  <!-- Bootstrap core CSS -->
  <!-- Custom fonts for this template -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
  <!-- Custom styles for this template -->
  <link href="css/main.css" rel="stylesheet">

  <script>
    $(document).ready(function(){
        var button=$("#yagButton").click(function(){
        var title=$("#title").val();
        var comSentence=$("#comSentence").val();
        var blog=CKEDITOR.instances.yagTextArea.getData();
        
        
        var data={
          title:title,
          comSentence: comSentence,
          comImage:comImage,
          blog:blog
        }
   

        
        $.post('/addYagliBoya', {data:data})
          .then(function(addedBlog){
            console.log(addedBlog);
          });   


        //console.log(title+"*****" + comSentence+"*****" + yazi);
      });

    });
    
  </script>
</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="images/log.png"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Anasayfa</a>
          </li>

          <li class="dropdown"><a class= "nav-link" href="#" data-toggle="dropdown">SANATLAR</a>
            <ul class="dropdown-menu">
              <li class="nav-item"> <a href="/yagliboya"  class="nav-link">YAĞLI BOYA</a> </li>
              <li class="nav-item"> <a href="/suluboya"  class="nav-link">SULU BOYA</a> </li>
              <li class="nav-item"> <a href="/mozaik"  class="nav-link">MOZAİK</a> </li> 
            </ul>
          </li>
       
          <li class="nav-item">
            <a class="nav-link" href="/about">Hakkımda</a>
          </li>         
          <li class="nav-item">
            <a class="nav-link" href="/contact">İletişim</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="/signin">Giriş Yap</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signout">Çıkış Yap</a>
            </li>
        </ul>
      </div>
    </div>
  </nav>
    

    <div class="container">
        <h2 style="text-align: center; margin-bottom: 40px;">Yağlı Boya İçin Ekleme Yap</h2>
        <form>
          <div class="form-group">
            <label for="title">Başlık</label>
            <input type="text" class="form-control" id="title" placeholder="Title">
          </div>
          <div class="form-group">
            <label for="comSentence">Bilgi</label>
            <input type="text" class="form-control" id="comSentence" placeholder="Bilgi">
          </div>
          <textarea name="editor" id="yagTextArea"></textarea>
          <button id="yagButton" class="btn btn-primary">Gir</button>
        </form>

    </div>



   
<!-- Footer -->
<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <ul class="list-inline text-center">
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <span class="fa-stack fa-lg">
                  <i class="fas fa-circle fa-stack-2x"></i>
                  <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
          <p class="copyright text-muted">Copyright &copy; KuasArt Developer Website 2020</p>
        </div>
      </div>
    </div>
  </footer>
    <!-- Bootstrap core JavaScript -->
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
    <!-- Custom styles for this template -->
    <script src="js/main.js"></script>
    <script src="//cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>

    <script >
      CKEDITOR.replace('editor');
    </script>
</body>

</html>